/* ==========================================================================
   Night theme skin - Customized
   ========================================================================== */

/* Colors */
$base-color: #373a3c !default;
$text-color: #eaeaea !default;
$accent-color: #00adb5 !default;
$background-color: #373a3c !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
/* Added by me: */
$footer-bacground-color: #2e2f30;
$intro-background-color: $background-color
