---
layout: default
---

{% assign manual_cv = site.manual_cv %}
{% if manual_cv %}
{% include page-intro.html %}
<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content | markdownify }}</div>
  </div>
</main>
		
{% else %}
    {% include cv/intro.html %}
	{% assign cv = site.data.cv %}
<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/volunteer.html %}
        {% include cv/education.html %}
        {% include cv/awards.html %}
        {% include cv/publications.html %}
        {% include cv/skills.html %}
        {% include cv/languages.html %}
        {% include cv/interests.html %}
        {% include cv/references.html %}
      </div>
    </div>
  </div>
</main>	
		
{% endif %}



